body {
    padding-left: 11em;
    font-family: garamond, "cambria",
      Times, serif;
  color: rgb(15, 161, 218);
  background-color: #c1f112 }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
     font-family: Verdana, Geneva, Tahoma, sans-serif }
    ul.navbar li {
    background: rgb(36, 194, 57);
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid rgb(35, 46, 207) }
     ul.navbar a {
     text-decoration: none }
    a:link {
     color: blue }
    a:visited {
     color: purple }
     address {
      margin-top: 1em;
      padding-top: 1em;
      border-top: thin dotted }